In [1]:
import sdv
from ctgan import CTGAN
import pandas as pd

In [2]:
real_data = pd.read_csv('data/german_real.csv')

In [3]:
metadata = sdv.metadata.SingleTableMetadata()
metadata.detect_from_dataframe(data = real_data)

In [18]:
synthesizer = sdv.lite.SingleTablePreset(
    metadata,
    name='FAST_ML') #uses Gaussion Copulas

synthesizer.fit(
    data=real_data)

In [19]:
synthetic_data = synthesizer.sample(
    num_rows=5000
)

synthetic_data.to_csv('data/german_sdv_copulas.csv', index=False)
synthetic_data.head()

,GoodCustomer,Gender,ForeignWorker,Single,Age,LoanDuration,PurposeOfLoan,LoanAmount,LoanRateAsPercentOfIncome,YearsAtCurrentHome,...,OtherLoansAtBank,OtherLoansAtStore,HasCoapplicant,HasGuarantor,OwnsHouse,RentsHouse,Unemployed,YearsAtCurrentJob_lt_1,YearsAtCurrentJob_geq_4,JobClassIsSkilled
0,1,Male,0,1,41,5,NewCar,3017,2,2,...,0,0,0,0,1,0,0,0,1,1
1,0,Female,0,0,36,30,UsedCar,1916,4,4,...,0,0,0,0,1,0,0,0,0,1
2,1,Male,0,1,32,6,UsedCar,250,4,2,...,0,0,0,0,1,0,0,0,0,1
3,1,Male,0,0,19,15,Furniture,3623,2,2,...,0,0,0,0,1,0,0,0,1,0
4,-1,Male,0,1,47,23,Education,8078,1,2,...,0,0,0,0,0,0,0,1,0,1

In [21]:
ctgan = CTGAN(epochs=10)
discrete_columns = list(real_data.columns)
ctgan.fit(real_data, discrete_columns)

# Create synthetic data
synthetic_data = ctgan.sample(5000)
synthetic_data.to_csv('data/german_sdv_CTGAN.csv',  index=False)
synthetic_data.head()

,GoodCustomer,Gender,ForeignWorker,Single,Age,LoanDuration,PurposeOfLoan,LoanAmount,LoanRateAsPercentOfIncome,YearsAtCurrentHome,...,OtherLoansAtBank,OtherLoansAtStore,HasCoapplicant,HasGuarantor,OwnsHouse,RentsHouse,Unemployed,YearsAtCurrentJob_lt_1,YearsAtCurrentJob_geq_4,JobClassIsSkilled
0,1,Male,0,1,63,15,Education,1538,3,3,...,0,0,0,1,1,0,0,1,0,1
1,-1,Male,0,1,19,11,NewCar,1236,2,2,...,1,0,0,0,0,1,1,0,1,1
2,1,Female,0,0,44,30,Education,3758,2,4,...,0,0,0,1,0,0,0,0,0,0
3,1,Male,0,1,29,21,Other,4308,3,1,...,0,0,0,0,1,0,0,0,0,1
4,1,Male,0,1,28,6,Electronics,2445,3,4,...,0,0,0,0,1,0,0,0,1,1